body {
  border: 2px solid black;
  font-family: "Arial";
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: text;
}

header {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
}

header nav ul {
  display: flex;
  flex-direction: col;
  font-size: 1.1em;
  gap: 30px;
  list-style: none;
}

.hamburger {
  display: none; /* solo se muestra en móviles */
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

main {
  flex: 1;
}

main section.banner {
  background: #d3d3d3;
  border: 2px solid black;
  margin: 30px;
  padding: 60px;
}

main section.banner h2 {
  font-size: 2em;
  text-align: justify;
  margin: 0 auto;
}

main section.lista-producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main section.lista-producto h2 {
  font-size: 2em;
  margin-left: 40px;
  width: 100%;
}

main section.lista-producto article {
  padding: 10px;
}

main section.lista-producto article img {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
main section.lista-producto p {
  font-size: 1.3em;
}

main section.lista-producto article button {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

footer {
  border-top: 2px solid black;
  padding: 20px;
  text-align: center;
}

@media (width<=700px) {
  h1 {
    color: red;
  }

  footer {
    color: blue;
  }
  main section.banner {
    display: none;
  }
  .hamburger {
    display: flex;
    position: absolute;
    right: 20px;
  }
  main section.lista-producto h2 {
    margin-left: 10px;
  }

  main section.lista-producto {
    margin: 20px;
    gap: 20px;
  }
  main section.lista-producto article {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    padding: 0px;
    width: 100%;
  }
  main section.lista-producto article img {
    width: 100px;
    height: 100px;
    border-top: none;
    border-left: none;
  }

  main section.lista-producto article .datos-producto {
    padding: 10px 30px;
  }

  main section.lista-producto article button {
    display: none;
  }

  header nav ul {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background: #f5f5f5;
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    flex-direction: column;
    gap: 10px;
  }

  .hamburger:hover + nav ul {
    display: flex;
  }
}
